ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 29%;
    margin: auto;
    border: 2px solid black;
    
}
/* input, ul {
    background-color: rgba(0, 0, 0, 0.11);
} */
#lastCol, #middleCol, #firstCol {
    margin: 10px 17.6719px;
}

 li {
    padding:0 3rem 2rem 0;
}

.firstPart {
    display: flex;
    width: 80%;
    margin: auto;
}

i {
    margin: 0 0 0 3rem;
}